*{
	margin: 0;padding: 0;
 }/*margin 外边距*/
 .box1
 {
 	position: relative;
 	height: 2000px;
 	width:100%;
 	top: 0px;
 }
 .box1 img
 {

 	opacity: 0.8;
 }

 .box2 
 {
    position: relative;
    top: -1900px;px;
    left: 550px;
 }
 .box2 h2
 {
 	position: relative;
 	left: 80px;
 }
 .box3
 {
  position: relative;
  top: -1850px;
  left: 30px;
 }
 .box3 p
 {
   color:black;

 }
 .box3 a  p
 {
 	font-family: 华文楷体;
 }
 .box4  pre
 {
 	 font-size: 1.5em;
   font-family: 仿宋；
 }
 .box5  pre
 {
 	 font-size: 1.0em;
   font-family: 仿宋；
 }
 .box4
 {
 	position: relative;
 	top: 30px;
 	left: 250px;
 }
 .box5
 {
 	position: relative;
 	left: 220px;
 }
 
 