*{
	margin: 0;padding: 0;
 }/*margin 外边距*/
 .box1
 {
 	position: relative;
 	height: 2000px;
 	width:100%;
 	top: 0px;
 }
 .box1 img
 {

 	opacity: 0.8;
 }

 .box2 
 {
    position: relative;
    top: -1900px;px;
    left: 550px;
 }
 .box2 h2
 {
 	position: relative;
 	left: 80px;
 }
 .box2 h1 
 {
 	color: pink;
 }
 .box2 h2
 {
 	color: pink;
 }
 .box3
 {
  position: relative;
  top: -1850px;
  left: 30px;
 }
 .box3 h3 
 {
 	color: pink;
 }
 .box3 p 
 {
   color:pink;

 }
 .box3 a  p
 {
 	font-family: 华文楷体;
 }
 .box3  a
 {
 	color: pink;
 }
 